.Modal {
  width: 590px !important;
  top: 20px;
}

.Disabled {
  pointer-events: none;
}

.RadioButtons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.FormLabel {
  font-weight: bold;
  font-size: 13px;
  color: #595959;
}

.FormItem {
  margin-bottom: 12px;
}

.DateInput {
  border-radius: 18px;
  height: 32px;
  border: solid 1px #d9d9d9;
  width: 50%;
  padding: 0 7px;
  outline: none;
  
}
